# Copy this file to .env and fill in your values
# The docker-compose.yml reads from this file automatically

PORT=5000
MONGO_URI=
JWT_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

EMAIL_USER=
EMAIL_PASS=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
